In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
import seaborn as sns

We are going to predict temperature here using LR.this is supervised so temperature column you seeing is there for helping us for learning.

In [44]:
#read the entire dataset using pandas
dataset=pd.read_csv("Algerian_forest_fires_dataset_UPDATE.csv")
dataset

                                                                    Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC   ISI BUI  FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6  1.3 3.4  0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6  1   3.9  0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1  0.3 2.7  0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9  0   1.7  0              not fire
...                                                                                    ...
26  09    2012 30          65  14  0     85.4 16  44.5 4.5 16.9 6.5                fire
27  09    2012 28          87  15  4.4   41.1 6.5 8    0.1 6.2  0              not fire
28  09    2012 27          87  29  0.5   45.9 3.5 7.9  0.4 3.4  0.2            not fire
29  09    2012 24          54  18  0.1   79.7 4.3 15.2 1.7 5.1  0.7            not fire
30  09    2012 24          64  15  0.2   67.3 3.8 16.5 1.2 4.8  0.5           not fire

[247 rows x 1 columns]

In [37]:
#lets get basic information of dataset in object datatype
dataset.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 247 entries, ('day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI') to ('30', '09', '2012', '24', '64', '15', '0.2', '67.3', '3.8', '16.5', '1.2', '4.8', '0.5')
Data columns (total 1 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   245 non-null    object
dtypes: object(1)
memory usage: 49.3+ KB

In [54]:

dataset.columns

Index(['Bejaia Region Dataset ', 'region'], dtype='object')

In [56]:
#lets check whether we have any missing values or no using isnull() and also get sum up value 
# for how many missing values for that columns
dataset.isnull()  
#is nulll gives if this column is missing or no by giving true or false
#but to check which column then use .any() for those column names
dataset[dataset.isnull().any(axis=1)]#this gives us if any column has any missing values in true or false
#axis=1 means we are checking for columns, if we want to check for rows then use axis=0

    Bejaia Region Dataset   region
123                    NaN     1.0
168                    NaN     1.0
246           not fire         NaN

#look carefully ,there are two regions 
1.	Bejaia Region Dataset
2. Sidi-Bel Abbes Region Dataset

In [58]:
#we are going to divide dataset into 2 regions by giving them names
#for region Bejaia Region Dataset use 0 
#for region Sidi-Bel Abbes Region Dataset use 1
#there is problem dataset has no index we need to assign index to entire csv file dataset usinf reset _index(),it creates new index

dataset.loc[0:122,"region"]=0  #here we create a new group of dataset  0 to 122 rows,using loc and cretae a column region name for our 
dataset.loc[123:245,"region"]=1 #2nnd group of dataset with 122 to 245 rows using loc and sanme name with naming as 1
dataset.columns

Index(['Bejaia Region Dataset ', 'region'], dtype='object')

In [46]:
dataset.iloc[120:130]

    Bejaia Region Dataset   region
120            not fire        0.0
121            not fire        0.0
122            not fire        0.0
123                    NaN     1.0
124              Classes       1.0
125            not fire        1.0
126            not fire        1.0
127            not fire        1.0
128            not fire        1.0
129            not fire        1.0

In [48]:
df=dataset

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   245 non-null    object
 1   region                  246 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.0+ KB

In [62]:
#conveert region into int type from object by using .astype("int")
df["region"]=df["region"].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [51]:
df.head()

  Bejaia Region Dataset   region
0              Classes       0.0
1            not fire        0.0
2            not fire        0.0
3            not fire        0.0
4            not fire        0.0

In [52]:
df.columns

Index(['Bejaia Region Dataset ', 'region'], dtype='object')

In [53]:
plo=plt.figure(figsize=(10,6))
plo